.meme-small-sprite, .meme-small-allthethings, .meme-small-areyoukiddingme, .meme-small-cerealspit, .meme-small-challengeaccepted, .meme-small-feellikeasir, .meme-small-firstworldproblem, .meme-small-fonzie, .meme-small-foreveralone, .meme-small-freddie, .meme-small-fuckyea, .meme-small-genius, .meme-small-jackie, .meme-small-mentira, .meme-small-nothingtodohere, .meme-small-notsureif, .meme-small-okay, .meme-small-success, .meme-small-trollface, .meme-small-yuno {
    background: url('../images/meme-small.png') no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.memecaption {
    background: black;
    margin: 0 auto 1em;
    max-width: 330px;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

.memecaption .wp-caption-text {
    color: white;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.meme-small-allthethings {
  background-position: 0 -500px;
}

.meme-small-areyoukiddingme {
  background-position: 0 -800px;
}

.meme-small-cerealspit {
  background-position: 0 -900px;
}

.meme-small-challengeaccepted {
  background-position: 0 -750px;
}

.meme-small-feellikeasir {
  background-position: 0 -550px;
}

.meme-small-firstworldproblem {
  background-position: 0 0;
}

.meme-small-fonzie {
  background-position: 0 -100px;
}

.meme-small-foreveralone {
  background-position: 0 -350px;
}

.meme-small-freddie {
  background-position: 0 -850px;
}

.meme-small-fuckyea {
  background-position: 0 -600px;
}

.meme-small-genius {
  background-position: 0 -250px;
}

.meme-small-jackie {
  background-position: 0 -650px;
}

.meme-small-mentira {
  background-position: 0 -400px;
}

.meme-small-nothingtodohere {
  background-position: 0 -700px;
}

.meme-small-notsureif {
  background-position: 0 -200px;
}

.meme-small-okay {
  background-position: 0 -450px;
}

.meme-small-success {
  background-position: 0 -50px;
}

.meme-small-trollface {
  background-position: 0 -150px;
}

.meme-small-yuno {
  background-position: 0 -300px;
}
